.navbar {
    background-color: rgb(110, 207, 207);
}

.row {
    padding-top: 10px;
    height: 800px;
    background-color: rgb(29, 97, 97);
}

.mainColumn {
    border: 4px solid white;
    margin: 10px;
    color: white;
}